# Entorno virtual
venv/

# Archivos de configuración sensibles
.env

# Archivos temporales
__pycache__/
*.py[cod]
*.log

# Bases de datos locales
*.db

# Configuraciones de IDE
.vscode/
.idea/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db
